$main-background-color: #fff !default;
$body-color: #fff !default;
$header-background: #485055 !default;
$main-font-color: #333 !default;
$code-background: #f5f5f5 !default;
$code-border: #ccc !default;
$link-color: #4493f8 !default;
