
@media (max-width: 1345px) {
  .title a h1 {
    margin-bottom: 0;
  }

  .header {
    width: 100%;
    height: 170px;
    gap: 10rem;
    padding: 0;
  }

  .logo img {
    max-height: 150px;
  }

  .footer {
    width: 100%;
    padding: 0;
  }
  
  .technology {
    max-width: 100%;
    padding: 0;
    
    .menu {
      margin-left: 1em;
    }
  }



}

@media (max-width: 1110px) {
  .title a p {
    margin: auto;
  }

  .header {
    padding: 0;
    width: 100%;
    gap: 5rem;
  }

  .main {
    width: 90%;
  }

}

@media (max-width: 800px) {
  .header {
    width: 100%;
    height: 200px;
    flex-direction: column;
    gap: 0;
  }

  .nav ul {
    height: 50px;
    flex-direction: row;
    margin: auto;
    padding: 0;
  }

  .logo a img {
    max-height: 130px;
  }

  .title h1 {
    font-size: 2em;
  }
}

@media (max-width: 800px) {
  .technology .menu {
    display: none;
    width: 0;
  }

  .technology {
    padding: 0;
  }

  .main {
    width: 90%;
    justify-content: center;
  }
}
